/*!
 * Embarcatech theme for Marp.
 *
 * @theme embarcatech
 * @author Diego Cirilo
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'default';

/******************* common styles *****************************/

:root {
  font-family: "Barlow", sans-serif;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
}

section {
  --h1-color: black;
  font-weight: var(--weight-light);
}

section h1 {
  font-weight: var(--weight-semibold);
  font-size: 1.8em;
}

/* cover class
Use: <!-- _class: cover --> */
section.cover {
    background-image: url('theme/capa.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 3.5em;
}
section.cover h1, section.cover h2 {
    color: white;
    font-size: 2.5em;
}
section.cover p {
    color: white;
    margin: 0em;
    padding-top: 2em;
    padding-bottom: 0.2em;
}

section.cover a {
    color: white;
    background-color: transparent !important;
}

section.cover2 {
    background-image: url('theme/capa2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    color: #eee;
}
section.cover2 h1, section.cover2 h2 {
    color: #eee;
}
section.cover2 a {
    color: #eee;
    background-color: transparent !important;
}

section.style1 {
    background-image: url('theme/slide01.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

section.style2 {
    background-image: url('theme/slide02.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

section.style3 {
    background-image: url('theme/slide03.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
